.admin-reviews-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}




.Admin-review-card{
    background-color: #f9f9f9  ;
    height: 350px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    overflow: scroll;
    display: grid;
    grid-template-rows: 25% 75%;
}

.Admin-review-card::-webkit-scrollbar {
    display: none;
  }

.Admin-review-card p {
    margin: 10px;
}


.admin-review-card-first{
    background-color: #B69F2C;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}



.admin-review-card-first h2{
    color: white;
margin: auto;
}


.reviews-image{
    color: white;
margin-top: 20px;
margin-left: 10px;
height: 50px;
width: 50px;


}


.admin-reviews-delete{
    color: white;
    margin-top: 20px;

    height: 50px;
    width: 50px;
    margin-left: 70px;
}




 .admin-reviews-search-bar{
width: 30%;
margin-top: 30px;
margin-left: 930px;
 }