/* @import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap"); */

body {
  margin: 0;
  padding: 0;
}

.Admin-Dashboard {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: grid;
  grid-template-columns: 20% 80%;
}

.Admin-sidebar {
  display: flex;
  flex-direction: column;
  color: #B69F2C;
  width: 80%;
  margin-left: auto;
  margin-top: 50px;
  align-items: start;
  gap: 41px;

  /* font-family: Signika; */
}

.admin-dashboard-logo{
height: 20%;
}
.Admin-sidebar-section {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer
}
.Admin-icons {
  width: 40px;
  height: 30px;
}

.Admin-Display {
  width: 96%;
  height: 96%;
  margin: auto;
  background-color: white ;
  border-radius: 3%;
  overflow: scroll;
}
.Admin-Display::-webkit-scrollbar {
  display: none;
}


.Admin-display-container{
    width: 90%;
    margin: auto;
    height: 100%;
}

.Admin-sidebar-section.selected {
color: white; /* Highlight color for the selected section */
}
