@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
}
.text-warning1{
    color: var(--primary) !important;
}
.text-warning1:hover{
    color: var(--secondary) !important;

}
.custom-logo-class{
    width: 150px;
    height: 130px;
}
.bg-warning1{
    color: var(--primary) !important;
    border: none !important;
}
.bg-warning1:hover{
    color: var(--primary) !important;
}

.custom-bg-warning1{
    color: var(--primary) !important;
    border: none !important;
}


@media (max-width: 768px) {
    .custom-text-home {
      font-size: 1.5rem !important;
    }
    .custom-small-image{
        height: 250px !important;
    }
  }