@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
}
.text-warning1{
    color: #b69f2c !important;
}
.text-warning2{
    color: #b69f2c !important;
}
.text-warning1:hover{
    color :#dac76b !important;
    transition: 0.5s;
}
.custom-logo-class{
    width: 150px;
    height: 130px;
}
.bg-warning1{
    background-color: #b69f2c !important;
    border: none !important;
}
.bg-warning1:hover{
    background-color: #dac76b !important;
    transition: 0.5s;
}

.custom-bg-warning1{
    background-color: #b69f2c !important;
    border: none !important;
}

.btn-fandq{
    color: #b69f2c !important;
}
.custom-text-fqs{
font-size: larger;
}
@media (max-width: 768px) {
    .custom-text-home {
      font-size: 1.5rem !important;
    }
    .custom-small-image{
        height: 250px !important;
    }
    .custom-images-div{
        margin-bottom: 40px;
    }
  }